<!-- My services -->
<section class="my-services" id="services">
  <h2 class="section__title section__title--services">What I do</h2>
  <div class="services">
    <div class="service">
      <h3>Design</h3>
      <p>
        Design solutions to fit your needs and move you towards your goal, in a
        user friendly and cost effective manner.
      </p>
    </div>
    <!-- / service -->

    <div class="service">
      <h3>Build</h3>
      <p>
        I'll build your new website/application so that whoever interacts with
        it finds it impeccably polished and engaging.
      </p>
    </div>
    <!-- / service -->

    <div class="service">
      <h3>Support</h3>
      <p>
        I offer ongoing support after deploying your application. I also provide
        detailed instructions for those wishing to it themselves.
      </p>
    </div>
    <!-- / service -->
  </div>
  <!-- / services -->

  <a href="#work" class="btn">My Work</a>
</section>
