<article class="post">
    <header class="post-header">
        <!-- .post-meta -->
        <h2 class="post-title">
            <a href="{{ project.url | absolute_url }}" rel="bookmark">{{ project.title }}</a>
        </h2>
    </header><!-- .post-header -->
    {% if project.featured_image_thumbnail %}
    <a class="post-thumbnail" href="{{ project.url }}">
        <img src="{% if project.featured_image_thumbnail contains ' :// ' %}{{ project.featured_image_thumbnail }}{% else %}{{ project.featured_image_thumbnail | absolute_url }}{% endif %}"
            alt="{{ project.title }}">
    </a>
    {% elsif project.featured_image %}
    <a class="post-thumbnail" href="{{ project.url }}">
        <img src="{% if project.featured_image contains ' :// ' %}{{ project.featured_image }}{% else %}{{ project.featured_image | absolute_url }}{% endif %}"
            alt="{{ project.title }}">
    </a>
    {% else %}
    {% endif %}
    <div class="post-content">
        <p>{{ project.excerpt | strip_html | truncatewords:40 }} </p>
        <p class="post-tags">
            {% if project.tags.size > 0 %}
            {% for tag in project.tags %}
            {% if forloop.index == project.tags.size %}
            <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | camelcase }}</a>
            {% else %}
            <a href='{{ site.baseurl }}/tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | camelcase }}</a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </p>
    </div><!-- .post-content -->
</article><!-- .post -->