---
layout: default
---

<div class="blog-index">
  <a href={{"/projects" | relative_url }}>Projects</a>
</div>
<div class="portfolio-page blog-post">
  <article >
    <header>
      <h1 class="post-title">{{ page.title | downcase }}</h1>
      <p class="post-date">
        {{ page.subtitle }}
      </p>
      <div class="project-links">
        <a class="project-links__demo" href="{{page.demo}}" target="_blank">
          Demo
        </a>
        <a class="project-links__github" href="{{page.github}}" target="_blank">
            <i class="fab fa-github"></i>
        </a>
      </ul>
    </header>
    <div class="post-content">
        <img src="{{ page.image_path | relative_url }}" alt="" class="intro__img">
  	    {{ content }}
  	</div>
    <div class="back-to-index">
        <div class="page-navigation">
            {% if page.previous.url %}
                <a class="prev" href="{{page.previous.url | relative_url}}">&laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
                <a class="next" href="{{page.next.url | relative_url}}">{{page.next.title}} &raquo;</a>
            {% endif %}
        </div>
    </div>
  </article>
</div>
